<p>Name:           <%= @name %> <br></p>
<p>Ticker:         <%= @sym %><br></p>
<p>Last Price:     $<%= @last %><br></p>
<p><% if @close != 0 %>Close Price:    $<%= @close %><br> <% end %></p>
<p><% if @open != 0 %>Open Price:     $<%= @open %><br><% end %></p>
<p><% if @volume %>Trade Volume:   <%= @volume %><br><% end %></p>
<p><% if @avg_daily_vol %>Average Daily Volume: <%= @avg_daily_vol %><br><% end %></p>
<p><% if @bid %>Bid: $<%= @bid %><br><% end %></p>
<p><% if @mark_cap %>Market Capitalization: $<%= @mark_cap %><br><% end %></p>
<p><% if @exchange %>Exchange: <%= @exchange %><br><% end %></p>

